/* Hou comment: If you're interested in learning to use the popular Block-Element-Modifier pattern for organizing and naming your CSS code, here's a 20 minute guide: https://www.smashingmagazine.com/2018/06/bem-for-beginners/ */

.search-box {
	border: 2px solid;
}
.form {
	text-align: center;
}

.Submit-button {
	cursor: pointer;
}

.Results {
	display: flex;
}
